*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  color: inherit;
  background-color: transparent;
  border: 1px solid currentColor;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  max-width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__submit-button {
  padding: 4.5px 73px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: currentColor;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 16px;
}

.title {
  font-size: 75px;
  font-family: Oswald, Arial, sans-serif;
  line-height: 0.94;
  text-transform: uppercase;
  font-weight: bold;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 399px;
}

.more-button {
  padding: 5px 0;
  inline-size: calc(100% - 4px);
  margin: 0 2px 2px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  min-width: 0;
  max-width: 399px;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 1;
}

.content__video-card-description {
  line-height: 0.9;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  white-space: normal;
  word-wrap: break-word;
}

.content__video-card-thumbnail {
  max-height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  max-width: 196px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset:has(.search-form__checkbox-list) {
  align-self: flex-start;
}

.search-form__textfield {
  border-color: currentColor;
  border-width: 1px;
  border-left: none;
  border-right: none;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  min-width: 225px;
  appearance: none;
  color: inherit;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  color: rgba(255 255 255 / 0.7);
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__list-item {
  padding: 3px 4px 0;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}
